<div class="user-form">
  <div class ="login-button">
    <div class="names">
      <h1>Marina & Lawrence</h1>
    </div>
    <br>
    <h2>June 2, 2018</h2>
    <br>
    <%= form_for(:session, url: login_path) do |f| %>
      <div class="code-label">
        <%= f.label :password, 'Password :' %>
        <%= f.password_field :password %>
        <%= f.submit "Submit", :class => 'submit-button'%>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- <div class="credits">
  Image from freepik.com
</div> -->
