<!DOCTYPE HTML>
<html>
	<head>
		<title>Marina & Lawrence</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>
		<%= render "layouts/navbar" %>

			<section id="banner">
				<div class="inner">
					<header>
						<div class = 'welcome-title'>
						<h1>Marina + Lawrence</h1>
						<p>April 28,2018</p>
						<h2>Mexico City</h2>
					</div>
					</header>
				</div>
			</section>

			<div id="main">
					<section class="wrapper style1">
						<div class="inner">
								<div class="flex flex-2">
									<div class="col col2">
										<div class = "destination-wedding">
											<h3>Our Destination Wedding</h3>
											<br>
											<p>It's no secret that we love to travel. So when we were considering where to say 'I Do' we knew there was no where more magical than Mexico.</p>
											<br>
											<p>We are excited to share this special moment in such an amazing place with you. </p>
											<p>Navigate the site to RSVP, find travel information and details about the wedding.</p>
											<p>Check back regularly, as we will be updating this site with more information.</p>
											<br>
											<p>See you in Mexico!</p>
										</div>
									</div>
								</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style2">
						<div class="inner">
							<div class="flex flex-2">

								<div class="col col1 first">
									<div class="image round fit">
										<a href="generic.html" class="link"><img src="images/pic02.jpg" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<header class="align-center">
								<h2>Aliquam ipsum purus dolor</h2>
							</header>
							<div class="flex flex-3">
								<div class="col align-center">
									<div class="image round fit">
										<img src="images/pic03.jpg" alt="" />
									</div>
									<p>Want to stay connected? Join our Slack channel: LawrenceAndMarina</p>
									<p>After you RSVP, you will receive a Slack invite to your email address.</p>
								</div>

							</div>
						</div>
					</section>

			</div>

			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
