<!DOCTYPE HTML>
<html>
	<head>
		<title>Marina & Lawrence</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

			<section id="banner">
				<div class="inner">
					<header>
						<div class= 'welcome-title'>
						<h1>Marina + Lawrence</h1>
						<p>April 28,2018</p>
						<h2>Mexico City</h2>
					</div>
					</header>
				</div>
			</section>

			<div id="main">
						<div class="inner">
								<div class="flex flex-2">
									<div class="col col2">
										<div class = "destination-wedding">
											<h3>Our Destination Wedding</h3>
											<br>
											<p>Navigate the site to <strong>RSVP,</strong> find travel information and connect with others.</p>
											<p>Check back regularly, as we will be updating this site with more information.</p>
											<p>See you in Mexico!</p>
										</div>
									</div>
								</div>
						</div>

<div class='hashtag'>
	#marinaylawrence
</div>
<!--
				<div class= "footer-slack">
				Want to stay connected?
				<br>
				Join our <i class="fa fa-slack" aria-hidden="true"> Slack </i> channel:  <a><href="https://slack.com/downloads/osx" style="color: #FFF; text-decoration: none;">LawrenceAndMarina</a>
				<br>
				After you RSVP, you'll receive a Slack invite to your email address.
			</div> -->
	</body>
</html>
