<div class='plans-title'>
  Your Guide to Mexico City
</div>
<br>
<div class='guide-links'>
  LINKS to GREAT RESOURCES
  <ul>
    <li>
      <a href="https://www.tripadvisor.com/Guide-g150800-k913-Mexico_City_Central_Mexico_and_Gulf_Coast.html"> One Day in Mexico</a>
    </li>
    <br>
    <li>
      <a href="https://www.nytimes.com/interactive/2016/03/17/travel/what-to-do-in-36-hours-in-mexico-city.html"> New York Times-36 hours in Mexico City</a>
    </li>
    <br>
    <li>
      <a href="https://www.tripadvisor.com/Tourism-g150800-Mexico_City_Central_Mexico_and_Gulf_Coast-Vacations.html"> TripAdvisor- Guide to Mexico City</a>
    </li>
    <br>
    <li>
      <a href="https://www.lonelyplanet.com/mexico/mexico-city"> Lonely Planet Guide to Mexico City</a>
    </li>
    <br>
    <li>
      <a href="http://www.travelandleisure.com/travel-guide/mexico-city"> Travel and Leisure- Mexico City</a>
    </li>
    <br>
  </ul>
</div>
<br>
<div class="safety">
  <h2>10 Tips for an Incredible Trip:</h2>
  <h4>Mexico City is an incredible fast-paced and captivating city, but to get the most out of your trip
    check out these 10 tips.</h4>
  <ul>
    <li>1. Use Uber, Taxi stands or ask concierge to call you a taxi. Never hail a taxi on the street.</li>
  </br>
    <li>2.




      .</li>
  </br>
    <li>
      3. Keep track of your belongings. Never leave your cell phone or wallet unattended, and keep your wallet in your front pocket.
    </li>
    <br>
    <li>
      4. Avoid walking alone on the streets at night.
    </li>
    <li>5. Never drink tap water. Always buy water from water bottles.</li>
    <li>
      6. Judge your restaurant options by the overall cleanliness of the building. Avoid food stands.
    </li>
    <li>
      7. Tipping is customary in every interaction you do(including bagging your groceries, guiding your car out of a parking spot). Tips are usually less than American tips.
    </li>
    <li>
      8. Learning a little bit of Spanish can go a long way. Check out this <a href="https://www.fluentu.com/blog/spanish/useful-spanish-travel-phrases-words/">link </a> for a few great Spanish phrases.
    </li>
    <li>9. Always bring layers. Mexico City is chilly in the morning, very warm in the afternoon and very chilly at night. It can rain at any minute as well. </li>
    <li>10. Avoid wearing shorts and sandals. Most Mexicans don't wear these because of the changes in temperature and it instantly labels you as a tourist. </li>
  </ul>
</div>
<br>
<div class="neighborhoods">
  <h2> Mexico City is a city of different neighborhoods as unique as cities themselves. Here's our guide to the most iconic
    neighborhoods in the city. Tip: Take Uber to get you to and from these neighborhoods.</h2>
    <div class="polanco">
      <h3>Polanco is known as the most elite and trendy neighborhood in the city. Many large hotels reside here as well as some
      of the city's hottest restaurants and clubs. Take a stroll the park, grab a coffee and do some shopping here.</h3>
      <p>Recommendations:</p>
      <p>Seafood: La Trainera Polanco</p>
      <p>Typical Mexican: Hacienda de los Morales</p>
      <p>High End: Pujol (Top 17th Restaurant in the world)</p>
      <p>Best quick bite: Sushi Itto (Mexican sushi is a genre of its own)</p>
  </div>
<br>
    <div class='centro'>
      <h3>Centro Historico or the Historic Center is a must see. The zocalo or plaza is where dancers, musicians abound. </h3>
      <p>Top picks for centro historico:</p>
      <p>Visit the cathedral.</p>
      <p>Walk through the former Aztec pyramid behind the Catheral.</p>
      <p>Visit the Blue Tile building (La Casa del Azulejos). It's the original Sanborns, a classic breakfast restaurant and eat the enchiladas suizas.</p>
      <p>Get a view from the rooftop of the zocalo. Our recommendation: Visit the hotel Zocalo Central for a drink on their rooftop.</p>
    </div>
<br>
    <div class='condesa'>
      <h3>Both high end and classic, this older, artsy neighboorhood feels straight out of Paris.</h3>
    </div>
<br>
    <div class='roma'>
      <h3>Like La Condesa, this neighboorhodd has a European feel but a bit more artsy and hippie. </h3>
    </div>
<br>
    <div class='coyoacan'>
      <h3>One of Marina's favorite neighboorhoods. This richly colorful neighboorhood keeps with tradional
      Mexican architecture.</h3>
      <p>Top picks:</p>
      <p>Visit the street markets</p>
      <p>Eat churros</p>
      <p>Visit Frida Kahlo's house (the blue house)</p>
      <p>Eat at Los Danzantes in the plaza.</p>
    </div>
</div>
