<div class = 'all-mexico'>
  <br>
  <div class = 'mexico-title'>
    <center><h3>Viva Mexico! </h3></center>
    Learn more about Mexico City with our guide to the megalopolis
  </div>
  <div class="mexico-learn">
    <br>
    <div class = 'accommodations'>
      <strong><p>Book Your Accomodations</p> </strong>
      <br>
      <div class = 'mexico-content'>
        <p> All shuttles will be leaving from the Polanco neighborhood, J.W. Marriot hotel.</p>
        <p>We have a hotel block for the <strong><a href="http://www.marriott.com/hotels/travel/mexjw-jw-marriott-hotel-mexico-city/">J.W. Marriott </a></strong> in Polanco for $250 per night.</p>
        <p> Other hotels we recommend are the <strong><a href="https://mexicocity.regency.hyatt.com/en/hotel/our-hotel/hotel-features.html">Hyatt Regency Mexico City</a></strong> or the <strong><a href="http://www.wmexicocity.com/?language=en_US&localeCode=en_US&localCode=en_US&PS=LGES_AA_DLAD_CGGL_TPRP&utm=a&device=d&SWAQ=6VVY&ds_KWID=p20998738265&gclid=CPnK9eOTltcCFXK0ZQodoPMBvQ&gclsrc=ds">W Hotel Mexico City</a></strong>.</p>
        <p>In addition to hotel options, you can check out <strong><a href="https://www.airbnb.com/s/mexico-city-polanco/homes?refinement_path=%2Fhomes&allow_override%5B%5D=&s_tag=KAtPWEuO">Airbnbs </a></strong>in the area of Polanco.
      </div>
    </div>
    <div class='marriot'>
      <%= image_tag("marriot-hotel.jpg", alt: "JW Marriot")%>
    </div>
  </div>

  <div class='guide'>
    <div class='more-about'>
      <strong>Learn More About Mexico City</strong>
    </div>
    <br>
    <center>
      <div class='media'>
      <br>
      <div class='info'>
        <table class = 'no-zebra'>
          <tr>
            <strong><th>Podcasts:</th></strong>
            <th> </th>
            <th> </th>
            <th> </th>
          </tr>
          <tr>
            <td> </td>
            <td>
              <strong><a href="https://99percentinvisible.org/episode/mexico-68/">99% Invisible</a></strong>- 1968 Mexico Olympics
            </td>
            <td>
              <strong><a href="https://www.theguardian.com/news/audio/2015/apr/13/podcast-long-read-francisco-goldman-how-mexico-city-saved-me-from-grief">The Guardian</a></strong>- How Mexico City Saved Me From Grief
            </td>
            <td> </td>
          </tr>
          <tr>
            <td> </td>
            <td>
              <strong><a href="https://soundcloud.com/rick-steves/mexico-city-travel-with-rick">Rick Steves</a></strong>- Travels in Mexico City
            </td>
            <td>
              <strong><a hred="http://latindispatch.com/2015/05/28/podcast-gentrification-in-mexico-city/">Radio Dispatch</a></strong>-Gentrification in Mexico City
            </td>
          </tr>
          <tr>
            <th>Blog Posts & Articles:</th>
            <th> </th>
            <th> </th>
            <th> </th>
          </tr>
          <tr>
            <td> </td>
            <td>
              <strong><a href="https://www.nytimes.com/interactive/2016/03/17/travel/what-to-do-in-36-hours-in-mexico-city.html"> New York Times</a></strong>-36 hours in Mexico City
            </td>
            <td>
              <strong><a href="http://www.foodandwine.com/chef-dispatch/mexico-city-guide-alon-shaya">Food & Wine</a></strong>- Where to Eat in Mexico City
            </td>
          </tr>
          <tr>
            <td> </td>
            <td><strong><a href="https://www.nytimes.com/interactive/2016/01/07/travel/places-to-visit.html?place=mexicocity&smid=fb-nytimestravel&smtyp=cur"> New York Times</a></strong> - #1 Place to Visit, Mexico City</td>
            <td><strong><a href="http://amateurtraveler.com/mexico-trip-journal-day-1-to-mexico-city/">Amateur Traveler</a></strong>- Mexico Trip Journals
            </td>
          </tr>
          <tr>

          </tr>
        <th>Videos:</th>
        <tr>
          <td> </td>
          <td><strong><a href="https://www.youtube.com/watch?v=7fuR0DsbY_U"> National Geographic</a></strong> - Megacities: Mexico City</td>
          <td><strong><a href="https://www.youtube.com/watch?v=GUMXv0VEtoc"> Expedia</a></strong> - Mexico City Travel Guide</td>
        </tr>
        <tr>
          <td> </td>
          <td><strong><a href="https://www.youtube.com/watch?v=ToeYUMPy66s"> Seven minute short</a></strong> - Mexico City Lifestyle</td>
          <td><strong><a href ="https://www.youtube.com/watch?v=ah-LQ3jPSpw"> Madrilenos por el Mundo</a></strong> - Mexico DF (in Spanish)</td>
        </tr>
      </table>
      </div>
    </div>
  </center>

  </div>

    <div class='mexico-learn'>
      <div class = "tips">
        <center><strong><p>10 Tips for an Incredible Trip:</strong></p></center>
          <div style="padding: 20px;">
            <ul>
              <li>1. <strong>Use Uber,</strong> Taxi stands or ask concierge to call you a taxi. Never hail a taxi on the street.</li>
              <li>2. Avoid wearing expensive jewelry or accessories that could make you a target for pickpockets.</li>
              <li>3. Learn some basic Spanish.</li>
              <li>4. Avoid walking alone on the streets at night. </li>
              <li>5. Never drink tap water. Always buy water from water bottles. </li>
              <li>6. Never eat from Mexico food trucks or stands. Judge your restaurant options by the overall cleanliness of the building.
              <li>7. Tipping is customary in every interaction you do(including bagging your groceries, guiding your car out of a parking spot). Tips are usually less than American tips.</li>
              <li>8. Most public transportation (like subway and buses) have certain carts for women and children only, pay attention to signs to avoid getting on the wrong one.</li>
              <li>9. Always bring layers. Mexico City is chilly in the morning, very warm in the afternoon and very chilly at night. It can rain at any minute as well. </li>
              <li>10. Avoid wearing shorts and sandals. Most Mexicans don't wear these because of the changes in temperature and it instantly labels you as a tourist.</li>
            </ul>
        </div>
      </div>
    </div>

  </div>
</div>
