<div class = 'all-mexico'>
  <div class = 'mexico-title'>
    Viva Mexico! <br>
    Welcome to the page, all things Mexico and our wedding!
  </div>
  <br>
  <div class = 'all-boxes'>
    <div class='box'>
      Book Your Accomodations
      <br>
      <i class="fa fa-bed" aria-hidden="true"></i>
    </div>
    <div class='box'>
      Learn More About Mexico City
      <br>
      <i class="fa fa-globe" aria-hidden="true"></i>
    </div>
    <div class='box'>
      Choose Your Itinerary
      <br>
      <i class="fa fa-list-alt" aria-hidden="true"></i>
    </div>
    <div class='box'>
      Review the Wedding Schedule
      <br>
      <i class="fa fa-list" aria-hidden="true"></i>
    </div>
    <div class='box'>
      Learn More about the Wedding Venue
      <i class="fa fa-pagelines" aria-hidden="true"></i>
    </div>
    <div class='box'>
      Stay connected through Slack!
      <br>
      <i class="fa fa-slack" aria-hidden="true"></i>
    </div>
  </div>
</div>
