<div class='container'>
<div class = 'all-mexico'>
  <div class = 'mexico-title'>
    Viva Mexico! <br>
    Learn more about Mexico City with our mini guide!
  </div>
  <br>
  <div class = 'all-boxes row'>
    <div class='box'>
      Book Your Accomodations
      <br>
      <i class="fa fa-bed" aria-hidden="true"></i>
    </div>
    <div class='box col-xs-12'>
      Learn More About Mexico City
      <br>
      <i class="fa fa-globe" aria-hidden="true"></i>
    </div>
    <div class='box col-xs-12'>
      Choose Your Itinerary
      <br>
      <i class="fa fa-list-alt" aria-hidden="true"></i>
    </div>
    <div class='box col-xs-12'>
      Learn More about the Wedding Venue
      <br>
      <i class="fa fa-pagelines" aria-hidden="true"></i>
    </div>
  </div>
</div>
</div>
