<div class = 'all-mexico'>
  <div class = 'mexico-title'>
    Viva Mexico! <br>
    Learn more about Mexico City with our mini guide!
  </div>
  <br>
  <div class="mexico-learn">
    <div class = 'accommodations'>
      <strong><p>Book Your Accomodations</p> </strong>
      <br>
      <div class = 'mexico-content'>
        <p> All shuttles will be leaving from the Polanco neighborhood, J.W. Marriot hotel.</p>
        <p>We have a hotel block for the <strong><a href="http://www.marriott.com/hotels/travel/mexjw-jw-marriott-hotel-mexico-city/">J.W. Marriott </a></strong> in Polanco for $250 per night.</p>
        <p> Other hotels we recommend are the <strong><a href="https://mexicocity.regency.hyatt.com/en/hotel/our-hotel/hotel-features.html">Hyatt Regency Mexico City</a></strong> or the <strong><a href="http://www.wmexicocity.com/?language=en_US&localeCode=en_US&localCode=en_US&PS=LGES_AA_DLAD_CGGL_TPRP&utm=a&device=d&SWAQ=6VVY&ds_KWID=p20998738265&gclid=CPnK9eOTltcCFXK0ZQodoPMBvQ&gclsrc=ds">W Hotel Mexico City</a></strong>.</p>
        <p>In addition to hotel options, you can check out <strong><a href="https://www.airbnb.com/s/mexico-city-polanco/homes?refinement_path=%2Fhomes&allow_override%5B%5D=&s_tag=KAtPWEuO">Airbnbs </a></strong>in the area of Polanco.
      </div>
    </div>
    <div class='marriot'>
      <%= image_tag("marriot-hotel.jpg", alt: "JW Marriot")%>
    </div>
  </div>

  <div class='guide'>
    <div class='more-about'>
      <strong>Learn More About Mexico City</strong>
    </div>
    <center>
      <div class='media'>
      <br>
      <div class='info'>
        <table>
          <tr>
            <th>Podcasts:</th>
            <th> </th>
            </tr>
          <tr>
            <td> </td>
            <td>
              <strong><a href="https://99percentinvisible.org/episode/mexico-68/">99% Invisible</a></strong>- 1968 Mexico Olympics
            </td>
          </tr>
          <td> </td>
            <td>
              <strong><a href="https://soundcloud.com/rick-steves/mexico-city-travel-with-rick">Rick Steves</a></strong>- Travels in Mexico City
            </td>
            <tr>
              <th>Blog Posts & Articles:</th>
              <th> </th>
            </tr>
            <tr>
              <td> </td>
          <td><li><strong><a href="http://amateurtraveler.com/mexico-trip-journal-day-1-to-mexico-city/">Amateur Traveler</a></strong>- Mexico Trip Journals</li>
          </td>
        </tr>
        </table>
      </div>
    </div>
  </center>

  </div>

  <div class='mexico-learn'>
    Choose Your Itinerary
    <br>
    <i class="fa fa-list-alt" aria-hidden="true"></i>
    <br>
  </div>
    <div class='mexico-learn'>
      Learn More about the Wedding Venue
      <br>
      <i class="fa fa-pagelines" aria-hidden="true"></i>
      <br>
    </div>
  </div>
</div>
