<div class='container'>
<div class = 'all-mexico'>
  <div class = 'mexico-title'>
    Viva Mexico! <br>
    Learn more about Mexico City with our mini guide!
  </div>
  <br>
  <div class = 'all-boxes row'>
    <div class='box'>
      Book Your Accomodations
      <br>
      <i class="fa fa-bed" aria-hidden="true"></i>
      <br>
      Click the icon for information about hotel blocks and great Airbnbs.
    </div>
    <div class='box col-xs-12'>
      Learn More About Mexico City
      <br>
      <i class="fa fa-globe" aria-hidden="true"></i>
      <br>
      Click the icon to find great sources of information about Mexico.
    </div>
    <div class='box col-xs-12'>
      Choose Your Itinerary
      <br>
      <i class="fa fa-list-alt" aria-hidden="true"></i>
      <br>
      Follow our suggestions on things to do while you're in the city.
    </div>
    <div class='box col-xs-12'>
      Learn More about the Wedding Venue
      <br>
      <i class="fa fa-pagelines" aria-hidden="true"></i>
      <br>
      Find out why we fell in love with this location for our wedding.
    </div>
  </div>
</div>
</div>
