

			<section id="whatev">
				<div class="inner">
					<header>
						<div class= 'welcome-title'>
						<h1>Our Story</h1>

					</div>
					</header>
				</div>
			</section>

			<div id="main">
						<div class="inner">
								<div class="flex flex-2">
									<div class="col col2" style="padding: 40px;">
											<p>Our First Date (According to Marina):</p>
                      <p>It was a late Wednesday afternoon when I was supposed to be meeting Lawrence for
                        the first time at a local brewery. I messaged him to let him know I was running a
                        few minutes late and he said he was waiting out back on the porch. Much to my shock,
                        I realized that the brewery I was walking into didn't have a porch. I reread the messages and
                        realized I had completely misread his messages and gone to the wrong place. I asked him
                        if he would mind waiting 20 minutes or would rather take a rain check. Much to my later self's
                        relief he said he would wait. That night one beer turned into three and rather than call it a night
                        as the brewery was shutting down, I convinced Lawrence to join me at the karaoke bar next door
                        where we ended up singing a terribly magical rendition of (I've Had) The Time of My Life. It was
                        truly a perfect first date.
                       </p>
										</div>
									</div>
								</div>
						</div>
