/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require main
 */

body {

}

.login-user-form {
  background-color: yellow;
  background: url('empty_wreath.jpg') no-repeat ;
  position: relative;
  text-align: center;
}

.login-title {
  background-color: yellow;
}

.login-button {
  border: 2px dotted #000;
  border-radius: 50%;
  position: absolute;
  padding: 200px;
  margin: 200px;
  font-family: 'Homemade Apple', cursive;
}

.code-label{
  font-family: 'Homemade Apple', cursive;
  font: bold;
}

.welcome-title {
  font-family: 'Homemade Apple', cursive;
}

#session_code {
  border: solid black 1px;
  border-radius: 2px;
  margin: 10px;
}

.submit-button {
  border: solid black 1px;
  border-radius: 2px;
}

.credits {
  font-size: .1em;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height:30px;
}
