.mexico-learn {
  border: 2px solid #000;
  background-color: #FFF;
  color: #000;
  padding: 10px;
  margin: 30px;
  display: flex;
}
.accommodations {
  text-align: center;
}
.mexico-content {
  justify-content: flex-start;
}

.marriot {
  margin: auto 0;
  padding-left: 40px;
}

.mexico-title {
  text-align: center;
  border: 2px solid #000;
  background-color: #FFF;
  color: #000;
  padding: 10px;
  margin: 30px;
}

.guide {
  border: 2px solid #000;
  background-color: #FFF;
  color: #000;
  padding: 10px;
  margin: 30px;
}

.more-about {
  text-align: center;
}
.media {
  margin: auto 0;
}

table.no-zebra tbody tr:nth-child(odd) td,
table.no-zebra tbody tr.even td {
  background: #FFF;
  border: 0px #FFF solid;
}

table.no-zebra th {
  background: #FFF;
}

table {
  background-color: #FFF !important;
}
.all-mexico {
  background: url('mexico-door.jpg') no-repeat center center fixed;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .all-mexico {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
