
.attempt-at-nav{
  display: flex;
  height: 40px;
}

.admin-greeting {
  float: right;
}
ul {
  list-style-type: circle;
}

li {
  display: inline !important;
  float: left;
  text-decoration: none !important;
}

a {
  color: #000 !important;
}
a:link {
    text-decoration: none !important;
    color: #00000 !important;
}

a:visited {
    text-decoration: none !important;
    color: #00000 !important;
}

a:hover {
    text-decoration: underline !important;
    color: #00000 !important;
}

a:active {
    text-decoration: underline !important;
    color: #00000 !important;
}

.footer-slack {
  padding: 20px;
  border-radius: 25px;
  font-family: 'Quicksand', sans-serif;
  background-color: #5a4936;
  margin: 20px;
  text-align: center;
  size: 0.5em;
  color: #FFF;
}

.link {
  font-family: 'Quicksand', sans-serif;
  justify-content: space-around;
  padding-right: 20px;
  padding-left: 30px;
  margin-top: 10px;
  color: #000;
  text-decoration: none;
  font-style: oblique;

}

.message {
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
  font-style: italic;

  font-family: 'Quicksand', sans-serif;
}

.logout-link {
  position: fixed;
  top: 0;
  right: 0;
}
