.top-border {
  display: flex;
}
.attempt-at-nav{
  justify-content: space-around;
  height: 40px;
}

.admin-greeting {
  float: right;
}
ul {
  list-style-type: circle;
}

li {
  display: inline !important;
  float: left;
  text-decoration: none !important;

}

a:link {
    text-decoration: none !important;
}

a:visited {
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}

a:active {
    text-decoration: underline !important;
}

.footer-slack {
  padding: 20px;
  border-radius: 25px;
  font-family: 'Quicksand', sans-serif;
  background-color: #F7D2F3;
  margin: 20px;
  text-align: center;
  size: 0.5em;
}
