    <section id="register">
					<header>
						<div class = 'whole-registry'>
              <table class = "something">
                <tr>
                  <th><center><strong>Registry Options:</strong></center></th>
                </tr>
                <tr>
                  <td><a href = "https://cruzrojadonaciones.org/"> Mexico City Earthquake Relief</a></td>
                </tr>
                <tr>
                  <td><a href = "https://www.zola.com/registry/lawrenceandmarina">Zola</a></td>
                </tr>
                <tr>
<td><a href = "https://www.anthropologie.com/registry/listing?registryId=OTRHZJFMM2U3">Anthropologie</a></td>
</tr>
					</div>
					</header>
			</section>
