    <section id="register">
					<header>
						<div class = 'whole-registry'>
              <div class="something">
                <strong>Marina & Lawrence's Wedding Registry:</strong>
              </div>
                <div class = 'container'>
                  <div class = 'registry-box row'>
                    <br>
                    <div class="col-sm-6">
                      <a href = "https://cruzrojadonaciones.org/"> Mexico City Earthquake Relief  |   </a>
                    </div>
                    <div class="col-sm-6">
                      <a href = "https://www.zola.com/registry/lawrenceandmarina">  Zola  |  </a>
                    </div>
                    <div class="col-sm-6">
                      <a href = "https://www.anthropologie.com/registry/listing?registryId=OTRHZJFMM2U3">  |  Anthropologie   </a>
                    </div>
                </div>
              </div>
					</div>
					</header>
			</section>
