<div class = 'family-page'>
  <div class='schedule-title'>
  Family Wedding Schedule
</div>
  <div class = 'thursday'>
    <p>April 26, Thursday: </p>
    Family dinner
    <p><a href="http://www.sanangelinn.com/">San Angel Inn</a></p>
    <p>Dress Code: Cocktail Formal (Jacket required)</p>
  </div>
  <div class='friday'>
    <p>April 27, Friday: </p>
    Welcome Drinks & Dinner at
    <p><a href="http://www.lago.com.mx/">El Lago Restaurant 6pm</a></p>
    <p>Dress Code: Cocktail Formal</p>
  </div>
  <div class='saturday'>
    <p>April 28, Saturday: </p>
    Wedding at 1 pm
    <p>Rancho San Juan Totoltopec</p>
    <p>Dress Code: Day Formal</p>
  </div>
</div>
